.auth {
  flex-wrap: wrap;
  max-width: fit-content;
  margin-top: 1.5rem;
}
.auth input,
button.dashboard {
  flex: 1;
}
.auth input {
  height: 2rem;
  padding: 0 0.75rem;
}
button.dashboard {
  min-width: 120px;
  background-color: var(--main-color);
  border: none;
  border-radius: 2px;
  padding: 0 1rem;
  height: 2rem;
  color: #ffff;
  margin: 1rem 0;
  cursor: pointer;
}

/* DASHOBOARD TBALE */

div.data-container {
  margin-top: 2rem;
}
div.table-row {
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1.25rem;
}
.table-row span {
  color: var(--main-color);
}
