<footer>
  <p class="text-white text-center">
    El Manglar de Bagheera - Todos los derechos reservados
  </p>
</footer>

<style>
  footer {
    background-color: #1d1d1d;
    width: 100%;
    font-size: 11px;
    padding: 0.5rem;
  }
</style>
