---
import LogoManglar from "../assets/logo.webp";
import { Image } from "astro:assets";
---

<div class="logo-circle d-flex align-items-center justify-content-center">
  <Image class="logo" src={LogoManglar} alt="Logo manglar de bagheera" />
</div>

<style>
  .logo-circle {
    border-radius: 50%;
    box-shadow: 2px 0px 10px 1px var(--main-color);
    border: 2px solid var(--main-color);
    width: 250px;
    height: 250px;
  }
  .logo {
    height: 275px;
  }
</style>
