---
const { text, href } = Astro.props;
---

<a class="text-center text-white" href={href}>{text}</a>

<style>
  a {
    background-color: var(--main-color);
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    text-decoration: none;
    cursor: pointer;
    margin: 5px 0;
    width: 200px;
  }
  a:hover {
    background-color: #b32167;
    transition: 0.4s;
  }
</style>
