---
const { id, padding = true, cover = false } = Astro.props;
---

<section id={id} class=`${cover ? "cover-applied" : ""} text-white text-center`>
  <div
    class=`d-flex flex-column align-items-center ${padding == true ? "padding-applied" : ""}`
  >
    <!-- this render childrens -->
    <slot />
  </div>
</section>

<style>
  section {
    background-position: center;
    background-image: url("../assets/fondo.webp");
  }
  #shows {
    background-image: url("../assets/shows-emcionantes.webp");
    height: 100vh;
  }
  .padding-applied {
    padding: 4rem 2rem;
  }
  .cover-applied {
    background-size: cover;
  }
  #shows div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  div {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.75);
  }
</style>
